.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}


.form-container {
  max-width: 400px;
  width: 100%;
  background-color: #f9f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 6px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 500px;
  padding: 40px;
  background-color: #f9f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}


p {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

b {
  font-family: sans-serif;
    font-size: 25px;

}

label {
  font-weight: bold;
  font-family: sans-serif;
  color: #5b605c;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.btn-default {
  background-color: #ca0505;
  color: white;
}

.btn-default:hover {
  background-color: #ca0505;
}

h3 {
  text-align: center;
  margin-top: 20px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 20px; }

form { display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  min-width: 300px;
  max-width: 300px;
  padding: 40px;
  background-color: #f9f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px; }

p {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}



label {
  font-weight: bold;
  margin-bottom: 5px; }

input {

  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px; }

h3 {
  text-align: center;
  margin-top: 2px;

  /* Группы полей формы */
  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  /* Блок с кнопками */
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .btn {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .big_input{
    width: 100%;
    height: 150px;  /* Высота */
    padding: 12px;
    font-size: 16px; /* Размер шрифта */
    resize: vertical; /* Разрешить вертикальное изменение размера */
    font-family: inherit;
  }



  .btn-secondary {
    background-color: #e7e7e7;
    color: black;
  }

  .btn-secondary:hover {
    background-color: #d5d5d5;
  }


  .done-message {
    text-align: center;
    margin-top: 20px;
  }
}
