<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="container">
  <form>
    <b>Отредактировать заметку</b>
    <p>
      <label> Название</label><br>
      <input [(ngModel)]="note.name" name="name" placeholder="Название" />
    </p>
    <p>
      <label> <b>Описание</b></label><br>
      <input [(ngModel)]="note.description" name="description" placeholder="Описание" />
    </p>
    <button class="btn btn-default" (click)="editItem()  ">Сохранить</button>
  </form>
</div>
</body>
