.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  transform: translateX(205px);
}

.add-note-btn {
  background-color: #ca0505;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.add-note-btn:hover {
  background-color: #810404;
  color: #e1ebed;
}

.table-container {
  min-width: 300px;
  max-width: 600px;
  border-radius: 15px;
  background-color: #f8f6f6;
  border: 2px solid #ccc;
  width: 100%;
  overflow-x: auto;
}

mat-table {
  width: 100%;
}

h1 {
  font-family: sans-serif;
}

mat-table th, mat-table td {
  padding: 8px;
  text-align: left;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

mat-table tr:hover {
  background-color: #612929;
  border-radius: 4px;
}

mat-table button {
  background-color: transparent;
  border: none;
  color: #b85151;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

mat-table1 button {
  background-color: transparent;
  border: none;
  color: #09da09;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

mat-table button:hover {
  background-color: rgba(195, 15, 15, 0.1); /* Легкий красный фон при наведении */
}
