/* Общий контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;


}

/* Заголовок с кнопкой добавления */
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  transform: translateX(250px);
}

.add-note-btn {
  background-color: #ca0505;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
  transition-duration: 0.4s;
}

.add-note-btn:hover {
  background-color: #810404; /* Темнее зеленый при наведении */
  color: #e1ebed;

}

/* Контейнер для таблицы */
.table-container {
  min-width: 300px; /* Минимальная ширина контейнера */
  max-width: 600px;
  border-radius: 15px;
  width: 100%;
  overflow-x: auto;
}

/* Стиль для самой таблицы */
mat-table {
  width: 100%;
  border-radius: 4px;
  border-collapse: collapse;
  background-color: #f9f9fa;
}

mat-table th, mat-table td {
  padding: 8px;
  text-align: left;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

mat-table tr:hover {
  background-color: #f5f5f5;
  border-radius: 4px;
}

/* Красивый стиль для кнопок удаления */
mat-table button {
  background-color: transparent;
  border: none;
  color: #b85151;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}


mat-table1 button {
  background-color: transparent;
  border: none;
  color: #09da09;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

mat-table button:hover {
  background-color: rgba(195, 15, 15, 0.1); /* Легкий красный фон при наведении */
}
